# Secrets File
secrets.py
secrets.pyc

# Text editor files
/.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/

# OSX
.DS_Store

# cx_freeze
build/

# praw
praw.ini

# holder folder
holder/